@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #412a1e;
  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #fefefe;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #58acf4
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #272262
}


button{
  background-color: transparent;
  border-color: #0b3075;
  color: #0b3075;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #105edd;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

p{
  color: #272262;
  font-size: 14pt;
  text-align: center;
}



