@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #412a1e;
  
}

.container {
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.card {
  background-color: #fefefe;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #58acf4
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #272262
}


button{
  background-color: transparent;
  border-color: #0b3075;
  color: #0b3075;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #105edd;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

p{
  color: #0b3075;;
  font-size: 14pt;
  text-align: center;
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #0b3075;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #0b3075;;
}

.label-float label{
  color: #0b3075;;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #0b3075;
}
